<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title style>Hello!</title>
    </head>

    <body>
        <h1>Hello World!</h1>
        <p>This is a simple paragraph.</p>  
        <font color="blue">  
        JavaTpoint   <br>  
        </font>  
        <font color="green">  
        Html Tutorial   <br>  
        How to Change the Text Color in Html  
        </font>   
    </body>

</html>
